<launch>
  <arg name="debug" default="false" doc="run gzserver in debug mode"/>
  <arg name="paused" default="false" doc="start simulation paused"/>
  <arg name="verbose" default="false" doc="display verbose output"/>
  <arg name="gui" default="true" doc="run in headless mode"/>
  <arg name="vehicle" default="plane" doc="vehicle to run"/>
  <arg name="world" default="$(optenv PX4_HOME empty)" doc="simulation world"/>
  <arg name="no-mavros" default="false" doc="disable mavros"/>
  <arg name="no-objects" default="false" doc="disable object generator"/>
  <arg name="no-bottle-drop" default="false" doc="disable bottle dropper"/>

  <!-- Set camera compression to PNG -->
  <param name="/camera/image_color/compressed/format" value="png" />
  <param name="/camera_zoom/image_color/compressed/format" value="png" />

  <include file="$(find px4)/launch/posix_sitl.launch">
    <arg name="Y" value="$(optenv PX4_HOME_YAW 0)"/>
    <arg name="est" value="ekf2"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="vehicle" value="$(arg vehicle)"/>
    <arg name="rcS" value="$(find px4)/posix-configs/SITL/init/ekf2/plane"/>:
    <arg name="world" value="$(find drone_gazebo)/worlds/$(arg world).world"/>
    <arg name="sdf" value="$(find drone_gazebo)/models/$(arg vehicle)/model.sdf"/>
  </include>

  <group unless="$(arg no-mavros)">
    <include file="$(find drone_base)/launch/px4_obc.launch" >
      <arg name="fcu_url" value="udp://:14540@127.0.0.1:14557"/>
    </include>
  </group>

  <group ns="drone_gazebo">
    <node name="object_generator"
          pkg="drone_gazebo"
          type="object_generator.py"
          output="screen"
          respawn="true"
          unless="$(arg no-objects)"/>

    <node name="bottle_dropper"
          pkg="drone_gazebo"
          type="bottle_dropper.py"
          output="screen"
          respawn="true"
          unless="$(arg no-bottle-drop)"/>
  </group>
</launch>
