<?xml version="1.0" ?>
<model>
    <name>gooney4</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Malcolm Watt</name>
        <email>malcolm.watt@mail.mcgill.ca</email>
    </author>
    <description>Gooney plane with a 2 DOF gimbal for the camera.</description>
</model>
