<?xml version="1.0"?>
<model>
  <name>iris_lidar</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_lidar.sdf</sdf>

  <author>
   <name>Imad Issafras</name>
   <email>imad.issafras@mail.mcgill.ca</email>
  </author>

  <description>
  	this is a model of the iris drone, with a LiDAR on top.
  </description>
</model>
