<?xml version="1.0"?>
<model>
  <name>PointGrey Flea3 8.8MP Camera with 75mm Lens</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Anass Al</name>
    <email>mr@anassinator.com</email>
  </author>
  <description>
    PointGrey Flea3 FL3-U3-88S2C-C 8.8MP camera with a 75mm lens.
  </description>
</model>
