<?xml version="1.0"?>
<model>
  <name>GoPro HERO4 Silver Edition Camera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Yasasa</name>
    <email>yasasa.abey@gmail.com</email>
  </author>
  <description>
    GoPro HERO4 Silver Edition Camera
  </description>
</model>
